li.wc_payment_method.payment_method_cpmw img {
    height: 25px;
}
.cegc-ph-item{position:relative;overflow:hidden;}.cegc-ph-item:before{position:absolute;top:0;right:0;bottom:0;left:50%;z-index:1;width:500%;margin-left:-250%;background:linear-gradient(90deg,hsla(0,0%,100%,0) 46%,hsla(0,0%,100%,.35) 50%,hsla(0,0%,100%,0) 54%) 50% 50%;-webkit-animation:phAnimation .8s linear infinite;animation:phAnimation .8s linear infinite;content:" ";pointer-events:none}.ph-item>*{display:flex;flex:1 1 auto;flex-flow:column;margin-bottom:15px;padding-right:15px;padding-left:15px}.ph-row{display:flex;flex-wrap:wrap;margin-top:-7.5px}.ph-row div{height:10px;margin-top:7.5px;background-color:#ced4da}.ph-row .big,.ph-row.big div{height:50px}.ph-row .empty{background-color:hsla(0,0%,100%,0)}.cegc-ph-col-2{flex:0 0 16.66667%}.cegc-ph-col-4{flex:0 0 33.33333%}.cegc-ph-col-6{flex:0 0 50%}.cegc-ph-col-8{flex:0 0 66.66667%}.cegc-ph-col-10{flex:0 0 83.33333%}.cegc-ph-col-12{flex:0 0 100%}[class*=cegc-ph-col]{direction:ltr}[class*=cegc-ph-col]>*+.ph-row{margin-top:0}[class*=cegc-ph-col]>*+*{margin-top:7.5px}.ph-avatar{position:relative;width:100%;min-width:60px;overflow:hidden;background-color:#ced4da;border-radius:50%}.ph-avatar:before{display:block;padding-top:100%;content:" "}.ph-picture{width:100%;height:120px;background-color:#ced4da}@-webkit-keyframes phAnimation{0%{transform:translate3d(-30%,0,0)}to{transform:translate3d(30%,0,0)}}@keyframes phAnimation{0%{transform:translate3d(-30%,0,0)}to{transform:translate3d(30%,0,0)}}
.cpmwp-supported-wallets-wrap .cpmw_p_connect {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 0 4px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1em;
}

span.cpmwp_logos{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.cpmwp-supported-wallets-wrap .cpmw_p_status:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0cd20c;
    margin-right: 5px;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.cpmwp-supported-wallets-wrap .cpmw_disconnect_wallet {
    cursor: pointer; 
    text-decoration: none;
    border-bottom: 1px solid;
}
.cpmwp-supported-wallets-wrap .cpmw_disconnect_wallet:hover {
    color: #ff4e2f;
}

.cpmwp_gateway_desc {
    border-bottom: 1px solid #00000025;
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-size: 0.9em;
}
.cpmwp-supported-wallets-wrap .cpmw_p_info {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #00000025;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9em;
    line-height: 1.25em;
}

.cpmwp-supported-wallets-wrap .cpmw_address_wrap {
    display: flex;
    flex-direction: row;   
    border-bottom: 1px solid #00000025;
    position: relative;
    padding: 5px;  
    justify-content: space-between;
    gap: 5px;
}
.cpmwp-supported-wallets-wrap .cpmw_p_network {
    display: flex;
    flex-direction: row;   
    padding: 5px;   
    justify-content: space-between;
    gap: 5px;
    text-align: right;
}

.cpmwp-supported-wallets-wrap .cpmw_p_address {
    white-space: nowrap;
    overflow: hidden;
    max-width: 60%;
    text-overflow: ellipsis;
}

.cpmwp-supported-wallets-wrap .cpmwp-connect-button {
    margin-top: 6px;
    width: 100%;
    text-align: center;
    text-shadow: 0px 1px 0 #f8c790;
    display: inline-block;
    background-color: #fcbf79; /* Button background color (blue in this example) */
    color: #222222; /* Button text color (white in this example) */
    border: 1px solid #00000025; /* Remove button border */
    border-radius: 4px; /* Rounded corners for button */
    box-shadow: inset 0px 0px 5px -2px #00000080;
    padding: 8px; /* Padding inside the button */
    font-size: 16px; /* Button text size */
    font-weight: bold;
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
  }
  .cpmwp-supported-wallets-wrap .cpmwp-connect-button:hover{
    background-color: #f89c35; /* Change background color on hover */
  }
  .cpmwp-supported-wallets-wrap .cpmwp_currency_lbl {
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 4px;
}
.cpmwp-supported-wallets-wrap .cpmwp_network_lbl {
    font-weight: bold;
    font-size: 0.9em;
    margin: 10px 0 4px;
    line-height: 1em;
}
.cpmwp-supported-wallets-wrap .cpmwp_payment_notice {
    font-size: 0.9em;
    line-height: 1.25em;
    margin-top: 10px;
    color: #0cd20c;
}
.cpmwp-supported-wallets-wrap .cpmwp_insufficient_blnc {
    font-size: 0.9em;
    line-height: 1.25em;
    margin-top: 10px;
    color: #ff4e2f;
}